/* You can add global styles to this file, and also import other style files */
body
{
    background-image: url("C:\Users\amit\Simplilearn\Angular\KitchenStory\src\assets\Images\HomeBackground.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
