<div class="container" style="text-align: center;">
    <h2 style="color: burlywood;">Welcome to <b style="color: chartreuse;">{{company}}</b></h2><br>

    <h4 style="color: burlywood;"><i>"WE’RE AT EVERY TABLE<br>YOUR PARTNER IN THE BUSINESS OF FOOD"</i></h4>
    <br><br>
    <p>
        <b style="color: chartreuse;">{{company}}</b> Foods® is one of India’s great food companies and a leading foodservice distributor,<br> partnering with approximately 300K restaurants and foodservice operators to help their businesses succeed.<br> With nearly 28,000 employees and more than 70 locations, <br><b style="color: chartreuse;">{{company}}</b> provide our customers with a broad and innovative food offering and a comprehensive suite of e-commerce, technology, and business solutions.
    </p><br><br>
    <h5 style="text-align: right; color: aqua;">Thanks for your interest in <b style="color: chartreuse;">{{company}}</b></h5>

</div>